/* .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 400px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  } */
  /* .image_carte{
    width: 400px;
    height: 200px;
  } */
  body{
    background-color: rgb(88, 88, 88);
  }
  .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .card{
    width: 10%;
    height: 20%;
    margin-left: 2%;
    margin-bottom: 2%;
    cursor: pointer;
  }
  l.btnPopup{
    background-color: orangered;
    padding: 1em 2em;
    font-size: 14pt;
    color: black;
    cursor: pointer;
  }
  .btnPopup:hover{
    background-color: white;
  }

  .overlay{
    position: fixed;
    left: 20%;
    top: 20%;
    background-color: rgba(255, 255, 255);
    display: none;
    width: 60%;
    height: 60%;
  }
  .btnClose{
    float: right;
    cursor: pointer;
    width: 75px;
    font-size: 75px;
    height: 75px;
  }
  .popup{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .imagePopup{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    height: 90%;
    width: 35%;
  }
  .imagePopup img{
    width: 100%;
    height: 100%;
  }
  .infoPopup{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 65%;
    height: 100%;
    padding-left: 100px;
  }
  .nomDeLaCarte{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .invisible{
    display: none;
  }
  .ventePacket{
    position: fixed;
    bottom: 0%;
    left: 40%;
  }
  /* .popup{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    width: 100%;
    height: 100%;
    /* background-color: rgb(228, 228, 228); */
    /* border-radius: 5px;
    box-shadow: 15px 20px 0 rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row;
  }
  .btnClose{
    float: right;
    cursor: pointer;
    width: 75px;
    font-size: 75px;
    height: 75px;
  }
  .image_carte{
    cursor: pointer;
  }
  .infoPopup{
    position: relative;
    width: 60%;
    height: 100%;
  }
  .imagePopup{
    display: flex;
    width: 60%;
  }
  .imagePopup img{
    width: 60%;
    height: 95%;
  } */ 